In [7]:
import pandas as pd
import joblib

In [8]:
test = pd.read_csv("test.csv")

In [9]:
test.head()

,ID,date,cluster_id,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,sunshine_duration,daylight_duration,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration
0,cluster_1_2022-01-01,2022-01-01,cluster_1,15.2,7.9,14.2,5.2,21902.986667,29784.506667,22.2,37.8,172.732245,4.173333,0.780000
1,cluster_2_2022-01-01,2022-01-01,cluster_2,15.9,4.1,15.3,1.3,23550.080000,30647.540000,22.7,38.5,163.972679,5.146667,0.730000
2,cluster_3_2022-01-01,2022-01-01,cluster_3,18.6,4.9,18.8,1.8,24179.643333,31545.103333,15.5,26.3,198.645137,5.713333,0.730000
3,cluster_4_2022-01-01,2022-01-01,cluster_4,13.3,3.9,11.9,1.3,23839.203333,30766.446667,16.1,27.4,183.517316,4.200000,0.486667
4,cluster_1_2022-01-02,2022-01-02,cluster_1,14.1,8.1,11.2,5.3,21018.193333,29847.110000,34.4,59.4,223.335840,4.030000,1.170000

In [10]:
test['cluster_id'] = test['cluster_id'].str.replace('cluster_', '')
test['cluster_id'] = test['cluster_id'].astype(int)

In [11]:
model = 'cobaLAGI.joblib'
cobaModel = joblib.load(model)

In [12]:
X_test = test.drop(columns=['ID','date'])

In [13]:
hasil_prediksi = cobaModel.predict(X_test)

In [14]:
submission_test = pd.DataFrame({
    'ID': test['ID'],
    'electricity_consumption': hasil_prediksi
})
submission_test.to_csv('sample_submission.csv', index=False)

print("Selesai! File submission 'submission_hasil_prediksi.csv' siap di-upload.")

Selesai! File submission 'submission_hasil_prediksi.csv' siap di-upload.