In [1]:
import numpy as np 
import pandas as pd

In [2]:
test = pd.read_csv("test.csv") #Dataframe untuk Test machine learning kita
train = pd.read_csv("train.csv") #Dataframe yg akan kita latih

In [3]:
train['cluster_id'] = train['cluster_id'].str.replace('cluster_', '')
train['cluster_id'] = train['cluster_id'].astype(int)

In [4]:
train.describe()

,cluster_id,electricity_consumption,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,sunshine_duration,daylight_duration,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant,shortwave_radiation_sum,et0_fao_evapotranspiration
count,11688.000000,11688.000000,11688.000000,11688.000000,11688.000000,11688.000000,11688.000000,11688.000000,11688.000000,11688.000000,11688.000000,11688.000000,11688.000000
mean,2.500000,642.313328,18.733385,7.174786,17.215315,4.784608,29302.656241,44070.779592,23.273058,46.420115,202.335554,12.742257,2.428585
std,1.118082,287.673473,7.504161,5.960263,9.085303,7.260336,13600.113712,9283.839471,7.993389,15.226372,100.697741,7.588077,1.607845
min,1.000000,207.472000,-1.900000,-10.800000,-8.100000,-15.400000,0.000000,29447.550000,6.800000,13.300000,0.002855,0.333333,0.173333
25%,1.750000,414.376000,12.800000,2.500000,10.000000,-1.100000,19104.170833,35150.501667,17.400000,35.300000,134.384708,5.600000,0.990000
50%,2.500000,602.672000,18.200000,7.100000,16.400000,4.400000,29917.360000,44185.056667,22.000000,43.900000,219.000000,12.140000,2.156667
75%,3.250000,836.034500,24.300000,12.100000,24.000000,10.800000,40697.756667,52997.815833,28.000000,54.700000,281.609519,18.924167,3.616667
max,4.000000,1658.348000,40.900000,23.200000,42.600000,23.800000,53498.910000,58501.420000,63.900000,126.700000,360.000000,29.983333,8.133333

In [ ]:
cluster_1 = train.groupby("cluster_id")['electricity_consumption'].mean()
cluster_1

cluster_id
1     340.734297
2     503.367172
3     706.762751
4    1018.389092
Name: electricity_consumption, dtype: float64

In [ ]:
#mengecek berapa banyak unit per cluster.
train['cluster_id'].value_counts()

cluster_id
1    2922
2    2922
3    2922
4    2922
Name: count, dtype: int64

In [9]:
cluster_1 = train.groupby("cluster_id")
cluster_1

In [ ]:
train.groupby("cluster_id")[["apparent_temperature_max", "apparent_temperature_min"]].describe()

In [14]:
Q1 = train['electricity_consumption'].quantile(0.25)
Q3 = train['electricity_consumption'].quantile(0.75)
IQR = Q3 - Q1

# Ambang batas outlier
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Data yang termasuk outlier
outlier_data = train[(train['electricity_consumption'] < lower_bound) | (train['electricity_consumption'] > upper_bound)]

outlier_data['date'] = pd.to_datetime(outlier_data['date'])
outlier_data['year'] = outlier_data['date'].dt.year
outlier_data['month'] = outlier_data['date'].dt.month

outlier_grouped = outlier_data.groupby(['year', 'month']).size().reset_index(name='outlier_count')

outlier_grouped

C:\Users\User\AppData\Local\Temp\ipykernel_23652\3965326500.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outlier_data['date'] = pd.to_datetime(outlier_data['date'])
C:\Users\User\AppData\Local\Temp\ipykernel_23652\3965326500.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outlier_data['year'] = outlier_data['date'].dt.year
C:\Users\User\AppData\Local\Temp\ipykernel_23652\3965326500.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outlier_data['month'] = outlier_data['date'].dt.month

   year  month  outlier_count
0  2015      1              3
1  2015      2              4
2  2016      1              5
3  2017      1             16
4  2018      2              8
5  2018      3              2
6  2018     12              1
7  2019      1              5
8  2021      2              2